@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./css/i-ming_font.css");

.writing-direction-rl {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.writing-direction-lr {
  writing-mode: horizontal-tb;
  text-orientation: upright;
}

html,
body {
  color: black;
  background-color: bisque;
  font-family: "I.Ming";
  margin: auto;
  padding: auto;
}